<nav class="navbar navbar-expand-lg grey lighten-3">
    <a class="navbar-brand" href="#">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a [routerLink]="['/cities']" class="nav-item nav-link" href="#">Hoofdsteden</a>
            <a [routerLink]="['/languages']" class="nav-item nav-link" href="#">Talen</a>
            <a [routerLink]="['/regions']" class="nav-item nav-link" href="#">Continenten</a>
            <a [routerLink]="['/country']" class="nav-item nav-link" href="#">Land</a>
        </div>
    </div>
</nav>