<div class="container" style="margin-top: 15px; margin-left: 5px;">
    <div class="row">
        <div class="col-md-4">
            <p style="margin-top: 9px">Hoofdstad:</p>
            <input type="text" class="form-control" [(ngModel)]="Search">
        </div>
    </div>

    <div *ngIf="Hoofdstad">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vlag</th>
                    <th>Land</th>
                    <th>Hoofdstad</th>
                    <th>Taal</th>
                    <th>Continent</th>
                    <th>Eenheid</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{Hoofdstad.flag}}" height="30px" width="30px"></td>
                    <td>{{Hoofdstad.name}}</td>
                    <td>{{Hoofdstad.capital}}</td>
                    <td>{{Hoofdstad.languages[0].name}}</td>
                    <td>{{Hoofdstad.region}}</td>
                    <td>{{Hoofdstad.currencies[0].name}}</td>
                    <td>{{Hoofdstad.currencies[0].symbol}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>