<div class="container" style="margin-top: 15px;">

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.048); height: 500px;">

                <!--Card image-->
                <img class="rounded-circle" src="./assets/kevin.jpg" alt="Card image cap" height="250px" width="250px" style="align-self: center; margin-top: 25px">

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title" allign="center">Persoonlijke info</h4>
                    <!--Text-->
                    <p class="card-text">Mijn naam is Kevin Van de Vyver, oprichter van deze website. Ik ben 20 jaar en studeer aan AP Hogeschool in Antwerpen.
                        Mijn passie voor web development is nog pril en heb dus nog heel wat te leren. Dit weerhoud mij echter niet om reeds te beginnen.</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.048); height: 500px;">

                <!--Card image-->
                <img class="img-fluid" src="./assets/Earth.png" alt="Card image cap" height="250px" width="250px" style="align-self: center; margin-top: 10px">

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title" allign="center">Hoe werkt de site</h4>
                    <!--Text-->
                    <p class="card-text">Hier is wat informatie wat betreft de werking van de site</p>
                </div>

            </div>
        </div>

        <div class="col-md-4">
                <div class="card" style="background-color: rgba(0, 0, 0, 0.048); height: 500px;">
    
                    <!--Card image-->
                    <img class="img-fluid" src="./assets/question_emoji.png" alt="Card image cap" height="250px" width="250px" style="align-self: center; margin-top: 10px">
    
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title" allign="center">Vragen?</h4>
                        <!--Text-->
                        <p class="card-text"> Contacteer mij via mail: kevinvandevyver1@gmail.com
                        </p>
                    </div>
    
                </div>
            </div>
    </div>
</div>