<div class="container" style="margin-top: 15px">

    <div class="row">
        <div class="col-md-4">
            <div class="card">

                <!--Card image-->
                <img class="img-fluid" src="./assets/kevin.jpg" alt="Card image cap" height="400px" width="400px">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <h4 class="card-title" align="center">Hoe werkt de site</h4>
            <p>Hier is wat informatie wat betreft de werking van de site</p>
        </div>
    </div>


</div>